<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="./stylesheets/students.css">
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
  <script type="text/javascript" src="students.js"></script>
  <title> Simon Barer - Assignment 2 </title>
</head>
<body>
    <div class="headline">   
        <text> Student Database </text><br/>
    </div> 
  <div class="container">
      <button class="delbut" id="delsel" onclick="window.location.href = 'https://simon-barer-a2.herokuapp.com/addstudent.html';">Add New Student</button>
      <!-- <button class="delbut" id="delsel">Delete Selected</button> -->
      <!-- <button class="delbut" type="submit" id="display">Update Students</button> -->
      <button class="disbut" id="display" onclick="window.location.href = 'https://simon-barer-a2.herokuapp.com/students.html';">Display Students</button>
      <br/><br/>
  </div>
  <div class="container" style="overflow-x:auto;">
      <table class="stats_table">
          <thead>
              <tr>
                  <th></th>
                  <th>ID</th> 
                  <th>Name</th> 
                  <th>Weight</th>
                  <th>Height</th>
                  <th>Hair Color</th>
                  <th>GPA</th>
                  <th>Major</th>
                  <th>Age</th>
              </tr>
          </thead>
          <tbody>
            <% results.forEach(function(r) { %>
              <form method="post" action="/updateStudent">
              <tr>
                <td>
                    <button class="deleteRowButton" id="deleteRowButton">Delete</button>
                    <button class="deleteRowButton" id="updateRowButton" type="submit">Update</button>
                  </td>
                <td>
                    <%= r.id %>
                </td>
                <td>
                    <input type="text" name="name" value="<%= r.name %>" onchange="newRow(this)">
                </td>
                <td>
                    <input type="text" name="weight" value="<%= r.weight %>" onchange="editRowNum(this)">
                </td>
                <td>
                    <input type="text" name="height" value=<%= r.height %>>
                </td>
                <td>
                    <input type="text" name="hair_color" value=<%= r.hair_color %>>
                </td>
                <td>
                    <input type="text" name="gpa" value=<%= r.gpa %>>
                </td>
                <td>
                    <input type="text1" name="major" value=<%= r.major %>>
                </td>
                <td>
                    <input type="text" name="age" value=<%= r.age %>>
                </td>
              </tr>
            </form>
            <% }); %>
          </tbody>
      </table>
      <br/>
  </div>
</body>
</html>
