<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="./stylesheets/students.css">
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
  <script type="text/javascript" src="students.js"></script>
  <title> Simon Barer - Assignment 2 </title>
</head>

<body>
    <div class="headline">   
        <text> Student Database </text><br/>
    </div> 
<!-- <% include ../partials/nav.ejs %> -->
<div class="container">
    <button class="delbut" id="delsel">Add New Student</button>
    <button class="delbut" id="delsel">Delete Selected</button>
    <button class="delbut" id="display">Edit Selected</button>
    <button class="disbut" id="display">Display Students</button>
    <br/>
</div>
  <div class="container" style="overflow-x:auto;">
      <table class="stats_table">
          <thead>
              <tr>
                  <th><input type="checkbox" id="Check All"/></th>
                  <th>ID</th> 
                  <th>Name</th> 
                  <th>Weight</th>
                  <th>Height</th>
                  <th>Hair Color</th>
                  <th>GPA</th>
                  <th>Major</th>
                  <th>Age</th>
              </tr>
          </thead>
          <tbody>
            <% results.forEach(function(r) { %>
              <tr>
                <td><input type="checkbox" id="Check"/></td>
                <td><%= r.id %></td>
                <td><%= r.name %></td>
                <td><%= r.weight %></td>
                <td><%= r.height %></td>
                <td><%= r.hair_color %></td>
                <td><%= r.gpa %></td>
                <td><%= r.major %></td>
                <td><%= r.age %></td>
              </tr>
            <% }); %>
          </tbody>
      </table>
      <br/>
  </div>
</body>
</html>
