<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="./stylesheets/students.css">
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
  <script type="text/javascript" src="student.js"></script>
  <title> Simon Barer - Assignment 2 </title>
</head>
<body>
    <div class="headline">   
        <text> Student Database </text><br/>
    </div> 
  <div class="container">
      <button class="delbut" id="delsel" onclick="window.location.href = 'https://simon-barer-a2.herokuapp.com/addstudent.html';">Add New Student</button>
      <button type="submit" class="disbut" id="display" onclick="window.location.href = 'https://simon-barer-a2.herokuapp.com/db';">Update Display</button>
      <br/><br/>
  </div>
  <div class="container" style="overflow-x:auto;">
      <table class="stats_table">
          <thead>
              <tr>
                  <th></th>
                  <th style="display:none;">ID</th> 
                  <th>Name</th> 
                  <th>Weight</th>
                  <th>Height</th>
                  <th>Hair Color</th>
                  <th>GPA</th>
                  <th>Major</th>
                  <th>Age</th>
              </tr>
          </thead>
          <tbody>
              <script>
                  var str = "hello testing";
                  console.log(str);
              </script>
            <% results.forEach(function(r) { %>
              <form class="studentTable" id="mainPage" method="post" action="/updateStudent">
              <!-- <form  class="studentTable" method="post" action="/deleteStudent"> -->
              <tr>
                <td class="buttonCell">
                    <input formaction="/deleteStudent" class="deleteRowButton" id="deleteRowButton" type="submit" value="Delete"></input>
                    <input class="updateRowButton" id="updateRowButton" type="submit" value="Update"></input>
                </td>
                <td style="display:none;">
                    <input type="text" name="id" value="<%= r.id %>" readonly>
                </td>
                <td>
                    <input type="text" name="name" value="<%= r.name %>">
                </td>
                <td>
                    <input type="text" name="weight" value="<%= r.weight %>">
                </td>
                <td>
                    <input type="text" name="height" value=<%= r.height %>>
                </td>
                <td>
                    <input type="text" name="hair_color" value=<%= r.hair_color %>>
                </td>
                <td>
                    <input type="text" name="gpa" value=<%= r.gpa %>>
                </td>
                <td>
                    <input type="text1" name="major" value=<%= r.major %>>
                </td>
                <td>
                    <input type="text" name="age" value=<%= r.age %>>
                </td>
              <!-- </form> -->
              </tr>
            </form>
            <% }); %>
          </tbody>
      </table>
      <br/>
  </div>
  <br/><br/>
  
  <div style="text-align: center; overflow-x:auto;">
  <table style="text-align: center; margin: auto;">
    <tr>
        <td style="vertical-align: text-bottom;">
        <% results.forEach(function(r) { %>
          <td style="vertical-align: text-bottom;">
        <div style="border-radius: 4px; vertical-align: text-bottom; padding: 5px; margin: 5px; 
        border: 2px solid lightblue; width:<%= r.weight%>px; min-width: 100px; background-color: rgb(<%= parseInt(r.age, 10)%>, <%= parseInt(r.age, 10)%>, <%= parseInt(r.age, 10)%>);
        height:<%= r.height *4 %>px; min-height: 80px">
          <h2 align="center" style="color: <%= r.hair_color %>;"> <%= r.name %> </h2>
          <p style="size: 18px; text-align: center;"><%= r.gpa %> <%= r.major %></p>
          
        </div>
        <br/>
      </td>
        <% }); %>
      </td>
      </tr>
  </table>   
</div>
</body>
</html>

